.login-form-container {
  width: 500px;
  height: 450px;
  margin: auto;
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.login-form {
  margin: 48px auto;
}

.login-logo {
  width: 250px;
}
