.video-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: flex;
}

.video-loading-spinner {
  margin: auto;
}

.video-overlay-actions {
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: center;
  transform: translateY(0);
  transition: opacity 100ms cubic-bezier(0, 0, 0.2, 1),
    transform 100ms cubic-bezier(0, 0, 0.2, 1),
    width 0.24s cubic-bezier(0.4, 0, 0.6, 1);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-input {
  margin-top: auto;
  margin-bottom: 32px;
  flex-shrink: 0;
}

.video-me {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 300px;
  height: 200px;
  z-index: 9999;
  display: flex;
}

.peer-name-container {
  position: absolute;
  z-index: 9999;
  bottom: 80px;
  left: 16px;
  background-color: black;
  opacity: 0.5;
}
.peer-muted-audio {
  font-size: 24;
  color: red;
}
