@import "~antd/dist/antd.css";

/* Common Components */
.banner-background {
  width: 100%;
  background-size: cover;
}

/* Common Layouts */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100% !important;
}

// Fade in Fade Out
.item-fadeIn {
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}

.item-fadeout {
  display: flex;
  align-items: center;
  padding: 10px;
  -webkit-animation: fadeout 0.5s linear forwards;
  animation: fadeout 0.5s linear forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
