@import "~antd/dist/antd.css";

/* Common Components */
.banner-background {
  width: 100%;
  background-size: cover;
}

/* Common Layouts */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100% !important;
}
